div.tableWrapper {
    overflow-x: auto;
    padding-inline:2em;
}
table.dataView {
    margin: 0 auto;
    min-width: 400px;
    margin-block: 1em 2em;
    width: 1100px;
    border-radius: var(--radius);
    border-spacing: 0;
    box-shadow: 1px 1px 4px 1px;
}

#tableControls {
    display: inline-flex;
    width: 100%;
    max-width: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-block-start: 6px;
}
.dataView thead th {
    font-size: 1.2em;
    background-color: var(--brand);
}
.dataView td:first-child{
    padding-inline: 10px;
}
.dataView td:not(:first-child) {
    padding: 14px 50px;
}

.recordCount {
    text-align:initial;
    max-width: 400px;
}
